<% title "Placeholder Title" %>
<% description "Placeholder description." %>
<% keywords "Placeholder keywords" %>

<div class="col-md-10 col-md-offset-1">
  <div class="message-show">
    <h2><%= @topic.title %></h2>
    <p class="message-posted-by">Created <%= time_ago_in_words(@topic.created_at) %> ago</p>
    <p class="message-desc"><%= @topic.description %></p>
    <div class="links btn-group">
      <%= link_to "Edit", edit_topic_path, class: "btn btn-primary" %>
      <%= link_to "Delete", topic_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <%= link_to "Back", root_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
